
<div
    class="p-5 text-center bg-image"
    style=" background-image: url('/assets/a1.jpg');
      height: 600px;
    "
  >

    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <br/>
          <br/>
          <h1 class="mb-3">Library Books</h1>
          <br/>
          <h5 class="mb-3">
<p style="text-align:left;">
Since our modest beginnings in 2005 
<br/>

</p>


 
</h5>
          
        </div>
      </div>
    </div>
  </div>




<footer class="bg-dark text-center text-lg-start text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contact information</h5>

        
					
					<p class="lead">Kochi, Ernakulam ,Kerala ,643500</p>
					<p class="lead">Call Us at:
						<a >9999978785</a></p>
					<p> Mail us: <a href="#">admin123@gmail.com</a></p>
				
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Opening hours</h5>

       
					
					<p><span class="text-color">Monday: </span>Closed</p>
					<p><span class="text-color">Tue-Wed :</span> 10 AM-5:PM </p>
					<p><span class="text-color">Thu-Fri :</span> 10AM-5:PM </p>
					<p><span class="text-color">Sat-Sun :</span> 10AM-4:PM </p>
				
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

 
</footer>


